<!DOCTYPE html>
<html>
  <head>
      <link rel="stylesheet" media="screen" href="//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
      <link rel="stylesheet" media="screen" href="https://cdn.rawgit.com/FortAwesome/Font-Awesome/master/web-fonts-with-css/css/fontawesome-all.min.css">
      <title>{{title}}</title>
      <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
        {{> header}}
        <div class="container top-buffer">
            {{{body}}}
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  </body>
</html>
