<html>
<body>
<div class="bg-img">
    <form action="" method="post" enctype="application/x-www-form-urlencoded">
        <div class="container1">
            <h1>Add product</h1>
            <label><b>Title (*)</b></label>
            <input type="text" name="txtTitle" placeholder="Enter Title" required>

            <label><b>ImagePath (*)</b></label>
            <input type="text" name="txtImagePath" placeholder="Enter ImagePath" required>

            <label><b>Description (*)</b></label>
            <input type="text" name="txtDescription" placeholder="Enter Description" required>

            <label><b>Price (*)</b></label>
            <input type="text" name="txtPrice" placeholder="Enter Price" required>

            <label><b>Made</b></label>
            <input type="text" name="txtMade" placeholder="Enter Made">

            <button type="submit" class="btn-add">Add</button>
        </div>
    </form>
</div>

</body>
</html>
