<!DOCTYPE html>
<html>
<body>

<h2>LOGIN</h2>

<form action="" method="post" enctype="application/x-www-form-urlencoded">
    <div class="imgcontainer">
        <img src="http://philippinesreport.com/wp-content/uploads/2017/11/Social-media-users-advised-to-be-critical-of-trolls.jpg" alt="Avatar" class="avatar">
    </div>

    <div class="container">
        <label for="uname"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="username" required>

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" required>

        <button type="submit" class="btn-add">Login</button>
        <label>
            <input type="checkbox" checked="checked" name="remember"> Remember me
        </label>
    </div>

</form>

</body>
</html>
